# ======================== INPUT DIRECTORIES ==================
fastq_dir: fastq
bams_dir: bams

# ======================== FASTQ READS ========================

# FASTQ file extension: "fastq.gz" or "fastq" or "fq.gz" or "fq", etc.
fastq_ext: "fastq.gz"

# Force single end processing
fastq_single_end_only: False

# Configure the pairing of R1 and R2 files
fastq_pair1: "R1"
fastq_pair2: "R2"

# ======================== TRIM READS ========================
trim_reads: False

# ======================== Alignment ========================
# UCSC genome: e.g. hg19, hg38, mm9, mm10, ..
genome: hg38

# For ATAC-Seq used: "-X 2000 --dovetail"
bowtie2_params: ""
#bowtie2_params: "-X 2000 --dovetail"

reads_qc: False
bams_qc: False

# Option if all will start with bams
start_with_bams: False

# ======================== Visualization ================

bw: False
# Produce normalized coverage ignoring duplicated reads
bamCoverage_params: "--normalizeUsing CPM --ignoreDuplicates"

tagsbw: False
tags2bw_fragment: 150

# ======================== MACS2 ========================
macs2: False
# MACS2 Narrow:
macs2_mode: narrow
macs2_params: "-q 0.05"
macs2_suffix: q0.05 # do not use underscores here otherwise wrong sample wildcards

# MACS2 Broad
#macs2_mode: broad
#macs2_params: "--broad --broad-cutoff 0.1"
#macs2_suffix: broad0.1 # do not use underscores here otherwise wrong sample wildcards

# MACS2 ATAC-seq:
#macs2_mode: narrow
#macs2_params: "-q 0.05 -f BAMPE --nomodel --nolambda -B --call-summits"
#macs2_suffix: q0.05 # do not use underscores here otherwise wrong sample wildcards

# ======================== SICER ========================
sicer: False
sicer_fragment: 150
sicer_window: 200
sicer_gap: 600
sicer_fdr: 0.01
sicer_evalue: 100

# ======================== SICER2 ========================
sicer2: False
sicer2_fragment: 150
sicer2_window: 200
sicer2_gap: 600
sicer2_fdr: 0.01
sicer2_evalue: 1000

# ======================== Omnipeak ======================
omnipeak: False
omnipeak_bin: 100
omnipeak_fragment: "auto"
omnipeak_fdr: 0.05
omnipeak_iterations: 10
omnipeak_threshold: 1e-4
omnipeak_params: ""
omnipeak_threads: 8

# ======================== SPAN ========================
span: False
span_bin: 100
span_fragment: "auto"
span_fdr: 0.05
span_iterations: 10
span_threshold: 1e-4
span_params: ""
span_threads: 8

# ======================== MACS3 ========================
macs3: False
# MACS2 Narrow:
macs3_mode: narrow
macs3_params: "-q 0.05"
macs3_suffix: q0.05 # do not use underscores here otherwise wrong sample wildcards

# MACS3 Broad
#macs3_mode: broad
#macs3_params: "--broad --broad-cutoff 0.1"
#macs3_suffix: broad0.1 # do not use underscores here otherwise wrong sample wildcards

# MACS3 ATAC-seq:
#macs3_mode: narrow
#macs3_params: "-q 0.05 -f BAMPE --nomodel --nolambda -B --call-summits"
#macs3_suffix: q0.05 # do not use underscores here otherwise wrong sample wildcards

# ======================== HOMER =======================
# Homer possible styles (relevant ones), see findPeaks --help for more info:
#   factor (transcription factor ChIP-Seq, uses -center, output: peaks.txt,  default)
#   histone (histone modification ChIP-Seq, region based, uses -region -size 500 -L 0, regions.txt)
#   dnase (Hypersensitivity [crawford style (nicking)], peaks.txt)
homer: False
homer_style: factor
homer_suffix: peaks.bed

# For histone
#homer_style: histone
#homer_suffix: regions.bed

# ======================== FSeq2 =======================
fseq2: False
fseq2_threads: 8
# Fseq2 is not well optimized by memory usage, artificially limit CPU for the sake of memory
fseq2_effective_threads: 2

# ======================== Hotspot =======================
hotspot: False
hotspot_executable: hotspot

# ======================== Peakseq =======================
peakseq: False
peakseq_executable: peakseq

# ======================== GPS =======================
gps: False

# ======================== BayesPeak =======================
bayespeak: False
bayespeak_rscript_executable: Rscript

# ======================== GPS =======================
lanceotron: False
lanceotron_bw_params: "--extendReads 150 -bs 1 --normalizeUsing RPKM"
